
body, html {
  height: 100%;
  margin: 0;
}
.bg {
  /* #120E0E The image used */
  background-image: url("IMG_7541.jpeg");

  /* Full height */
  height: 60%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	  font-size: 70%
}
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul.b {
  list-style-type: square;
  font-family: "Courier Prime";
  color: #4C5638;
  font-size: 150%;
  padding-left: 10%;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #181C0E;
}

ul.navbar li {
  float: right;
}

ul.navbar li a {
  display: block;
  padding: 8px;
  background-color: #181C0E; 
  font-size: 150%;
  font-family: "Averia Serif Libre";
}
h2 {
  text-align: center; 
  color: #FFF4EB;
  font-size: 300%;
  font-family: "Averia Serif Libre";
  font-weight: normal;
  line-height: normal;
  text-size-adjust: inherit;
  }
h3 {
  text-align: left; 
  color: #4C5638;
  font-size: 150%;
  font-family: "Courier Prime";
  font-weight: normal;
  line-height: 80%;
  text-size-adjust: inherit;
  padding-left: 7%;
  }
p {
  text-align: left;
  color: #E9D7DB;
  text-shadow: 0.088rem 0.088rem 0.125rem #C7ACA6;
  font-size: 150%;
  font-family: "Averia Serif Libre";
  font-weight: normal;
  line-height: normal;
  text-size-adjust: inherit;
  padding-left: 4em;
  padding-right: 10em;
  }
div {
  text-align: center; 
  color: #FFF4EB;
  font-size: 200%;
  font-family: "Averia Serif Libre";
  font-weight: normal;
  line-height: normal;
  }
a:link {
  color: #FFF4EB;
  text-decoration: none;
}
a:visited {
  color: #FFF4EB;
  text-decoration: none;
}
a:hover {
  color: #94A66F;
  text-decoration: none;
  }
img {
  display: block;
  margin-left: 7%;
  margin-right: auto;
  }
body {
  background-color: #CBD5B8;
  }
.center {
  padding: 10em;
  text-align: center;
	}
