h1 {
  text-align: left; 
  color: #E9D7DB;
  text-shadow: 0.088rem 0.088rem 0.125rem #C7ACA6;
  font-size: 3em;
  font-family: "Averia Serif Libre";
  font-weight: normal;
  line-height: normal;
  text-size-adjust: inherit;
  padding-left: 2em;
   }
h2 {
  text-align: center; 
  color: #CCB3AE;
  text-shadow: 0.088rem 0.088rem 0.125rem #C7ACA6;
  font-size: 2em;
  font-family: "Averia Serif Libre";
  font-weight: normal;
  line-height: normal;
  text-size-adjust: inherit;
  padding-left: 3em;
  display: inline-block;
  }
p {
  text-align: left;
  color: #E9D7DB;
  text-shadow: 0.088rem 0.088rem 0.125rem #C7ACA6;
  font-size: 1.5em;
  font-family: "Averia Serif Libre";
  font-weight: normal;
  line-height: normal;
  text-size-adjust: inherit;
  padding-left: 4em;
  padding-right: 10em;
  }
div {
  color: #E9D7DB;
  text-align: center; 
  text-shadow: 0.088rem 0.088rem 0.125rem #C7ACA6;
  font-family: "Averia Serif Libre";
  font-weight: normal;
  }
a:link {
  color: #E9D7DB;
  text-decoration: underline;
}
a:visited {
  color: #E9D7DB;
  text-decoration: none;
}
a:hover {
  color: #CCB3AE;
  text-decoration: underline;
  }
img {
  border-radius: 50%;
  display: block;
  margin-left: 5.5em;
  margin-right: auto;
  }
body {
  background-color:#381D2A;
  }
.center {
  padding: 10em;
  text-align: center;
	}
